@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
    margin:0;
    box-sizing: border-box;
}
#title-name{
    margin:5% 0 2% 9%;
}
.cards-container{
    display:flex;
    margin:2% 10% 10% 10%;
}

.cards{
    width:18%;
    margin:15px;
    cursor: pointer;
    box-shadow: 0 2px 10px rgb(0 0 0 / 30%);
}
.cards:hover{
    box-shadow: 1px 3px 20px rgb(0 0 0 / 50%);
}
.cards .img img{
    width:100%;
}
a{
    text-decoration: none;
}
.cards .details {
    padding-left: 10px;
    margin: 10px auto;
}
.details h3{
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
    color: rgb(27, 25, 25);
}
.details h4{
    margin-top: 10px;
    text-align: left;
    font-size: 12px;
    color: rgb(110, 110, 110);
}
.details h5{
    margin-top: 10px;
    text-align: left;
    font-size: 15px;
    letter-spacing: 2px;
    color: #009688;
}

